@model ClientesModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Cliente</title>
</head>
<body>
    <div class="container">
        <h3>Editar Cliente</h3>

        <form method="post" asp-controller="Cliente" asp-action="edit">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" asp-for="Nome" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Endereco</label>
                <input type="text" class="form-control" asp-for="Endereco" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Telefone</label>
                <input type="text" class="form-control" asp-for="Telefone" >
            </div>

            <button type="submit" class="btn btn-warning">Editar</button>
            <input type="hidden" asp-for="Id" />
        </form>
    </div>
</body>
</html>
